server:
  port: 8081

spring:
  datasource:
    url: jdbc:h2:mem:payment;DB_CLOSE_DELAY=-1;INIT=CREATE SCHEMA IF NOT EXISTS payment
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    locations: classpath:db/migration
    schemas: payment

logging:
  level:
    root: INFO
